<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="contacts.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div id="contacts">
    <div>
        <label>Имя:
            <input v-bind:style="name.style" type="text" title="Name" v-model="name.data" v-on:input="checkName">
        </label>
    </div>
    <div>
        <label>Телефон:
            <input v-bind:style="phone.style" type="text" title="Phone" v-model="phone.data" v-on:input="checkPhone">
        </label>
    </div>
    <div>
        <label>Email:
            <input v-bind:style="email.style" type="text" title="Email" v-model="email.data" v-on:input="checkEmail">
        </label>
    </div>

    <div><label>Сообщение: <textarea v-model="text" title="Text"></textarea></label></div>
    <div><input type="button" title="send" value="Send" v-on:click="send"></div>
</div>
</body>
</html>