<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <script defer src="js/script.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <alert v-if="filteredGoods.length === 0"></alert>
    <header>
        <button class="cart-button" v-on:click="visibleBasket"></button>
        <search-input v-on:input="search"></search-input>
    </header>
    <main>
        <div class="goods-list">
            <template v-if="filteredGoods.length > 0">
                <div class="goods-item" v-for="item in filteredGoods">
                    <div class="icon"></div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.price}}</p>
                    <div class="buttonToCart" @click="addToCart(item)">Купить</div>
                </div>
            </template>
            <template v-else>
                Данных нет!
            </template>
        </div>
    </main>
    <basket v-if="isVisibleCart" v-on:delete="removeFromCart" v-on:clear="clearBasket" v-bind:basket="basket"></basket>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>