body {
    background: #a9a9ae;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border: 1px solid #25a0e1;
    border-radius: 0 0 15px 15px;
}


header .cart-button {
    float: right;
    margin: 25px 150px 0 0;
    height: 40px;
    width: 50px;
    filter: drop-shadow(0 0 2px black);
    box-shadow: inset 0 0 5px black;
    background: url('https://img.icons8.com/material-sharp/26/000000/shopping-cart.png') center center / 100% no-repeat, #8cb3c7;
    border-radius: 5px;
    transition: 0.2s;
    background-size: contain;
    border: 0;
}

header .cart-button:hover {
    background-color: #b4eaff;
}

header .cart-button:active {
    transform: scale(0.95);
}

main {

}

main .goods-list, #basket, #alert {
    clear: both;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: 195px;
    width: 500px;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(33, 176, 255, 0.6), rgba(37, 160, 225, 0.6) 6px);
    border: 1px solid #25a0e1;
    border-radius: 15px;
    color: #ffc300;
    text-shadow: 0 0 2px black;
    text-align: center;
}

main .goods-list > div {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 0 5px black;
    transition: 0.2s;
}

main .goods-list > div:hover {
    transform: scale(1.05);
    border: 1px solid #00ffff;
    box-shadow: 0 0 5px #00ffff;
}

main .goods-list div .icon, #itemsPool {
    box-shadow: inset 0 0 5px black;
    background: #8cb3c7;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin: auto;
}

main .goods-list div h3 {
    margin: 5px;
    color: rgb(255, 255, 255);
}


main .goods-list div p {
    margin: 5px;
    color: rgb(226, 255, 0);;
    font-weight: bold;
}

main .goods-list div .buttonToCart, #basket input {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    box-shadow: inset 0 0 2px black;
    background: #79a0b4;
    color: #ffc300;
    margin-right: 18px;
    height: 21px;
    text-shadow: 0 0 2px black;
    border-radius: 8px;
    transition: 0.2s;
}

main .goods-list div .buttonToCart:hover, #basket input:hover {
    background-color: rgba(0, 120, 211, 0.9);
}

main .goods-list div .buttonToCart:active, #basket input:active {
    transform: scale(0.95);
}

header label {
    color: #ffc300;
    text-shadow: 0 0 2px black;
    float: left;
    margin-top: 70px;
    margin-left: 20px;
}

header input {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    box-shadow: inset 0 0 2px black;
    background: #79a0b4;
    color: #ffc300;
    margin-right: 18px;
    height: 21px;
    text-shadow: 0 0 2px black;
    border-radius: 8px;
    transition: 0.2s;
    outline: 0;
    border: 0;
}

#basket {
    margin: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 150px;
    top: 70px;
    display: block;
    padding: 3px;
}

#itemsPool {
    height: 100%;
    width: 100%;
}

#alert {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 50px;
    top: 90px;
    line-height: 24px;
    color: #ff4341;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

#basket input {
    float: right;
    outline: 0;
    border: 0;
}

.itemName, .itemCount {
    float: left;
}

.itemCount {
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    line-height: 20px;
}

#basketItems {
    float: left;
    width: 100%;
    margin: 1px 8px;
}

#basketPanel {
    box-shadow: inset 0 0 2px black;
    background: #4b646f;
    border-radius: 10px;
    font-size: 12px;
    float: left;
    width: 100%;
    margin-bottom: 6px;
    line-height: 21px;
}

#basketItems {

}